// 변수선언
$red: red;
$green : green;
$orange : orange;
$yellow : yellow;
$blue : blue;
$indigo : indigo;
$violet : violet;

// 믹스인 생성(믹스인: 재사용되는 스타일 블록을 메소드처럼 사용하는 것)
@mixin square                                                                                               ($size){
    $calculated : 320px * $size;
    width : $calculated;
    height : $calculated;
}