.TodoListItem {
    padding: 1rem;
    display: flex;
    align-items: center;
    &:nth-child(even) {
        background: #f8f9fa;
    }

    .checkbox {
        cursor: pointer;
        flex: 1;
        display: flex;
        align-items: center;
        svg {
            font-size: 1.5rem;
        }
        .text {
            margin-left: 0.5rem;
            flex: 1;
        }
        // checkbox 클래스와 checked 클래스를 모두 가지고 있는 태그의 스타일 정의
        &.checked {
            svg {
                color: #22b8cf;
            }
            .text {
                color: #abd5bd;
                text-decoration: line-through;
            }
        }
    }

    .remove {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
        color: #ff6b6b;
        &:hover {
            color: #ff8787;
        }
    }

    // 같은 레벨에 있는 태그들 사이사이공간에 대한 스타일
    & + & {
        border-top: 1px solid #dee2e6;
    }
}